[core]
# Используем SequentialExecutor для простоты
executor = SequentialExecutor
dags_folder = /opt/airflow/dags
load_examples = False
plugins_folder = /opt/airflow/plugins
base_log_folder = /opt/airflow/logs

[webserver]
base_url = http://localhost:8080
web_server_port = 8080

[scheduler]
job_heartbeat_sec = 5
scheduler_heartbeat_sec = 5

[logging]
logging_level = INFO

